.container{
    max-height: 400px;
    overflow: auto;
    width: 60%;
    overflow-x: scroll;
    margin: auto;
    margin-top: 50px;
    background-color: antiquewhite;
  }

  tr,th{
    border: 1px solid black;
  }

  tr:nth-child(even) { 
    background-color: Lightgreen; 
}
th {
  background-color: gray;
}